body {
	background-color: #0C186E;
	font-family: 'Fredericka the Great', cursive;
	color: white;
}

#pic {
	height: 300px;
	width: 500px;
	margin-left: 450px;
	margin-top: 15px;
	position: relative;
}

#text {
	text-align: center;
}

#game {
	text-align: center;
}

@media screen and (max-width: 768px) {
#pic {
    margin-left: 150px;
	}
}

@media screen and (max-width: 640px) {
#pic {
    margin-left: 80px;
	}

}